body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 50%;
	left: 50%;
}
@keyframes move_crewmate {
    0% {
        transform: translateX(0px) rotate(360deg);
    }
    25%{
        transform: translateX(445px) rotate(360deg);
    }
    
    
    100% { 
		transform: translateX(445px) rotate(360deg); 
    }
}

@keyframes move_Dess {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(445px);
	}
	100% {
		transform: translateX(600px);
	}
}

@keyframes move_Truck {
0% {
	transform: translateX(0px);
}
25% {
	transform: translateX(445px);
}
100% {
	transform: translateX(600px);
}
}


.crewmate {
position: relative;
height: 30px;
left: -170px;
animation: move_crewmate 10s infinite;
}

.Dess {
	position: relative;
	height: 60px;
	animation: move_Dess 10s infinite;
}


.TRUCK {
	position: relative;
	height: 80px;
	animation: move_Truck 10s infinite;
	animation-delay: 2s;
}

